go 1.22.0

use (
	./ch01/01-parsing-arguments
	./ch01/02-providing-help
	./ch01/03-custom-argument-types
	./ch01/04-environment-variables
	./ch01/05-subcommands
	./ch01/challenge
	./ch02/01-running-commands
	./ch02/02-supporting-redirection
	./ch02/03-setting-environment-variables
	./ch02/challenge
	./logs
)
